.wy-side-nav-search .wy-dropdown > a img.logo, .wy-side-nav-search > a img.logo {
    width: 275px;
}

a.external::after {
    content: "↗";  /* You could also use ↗, ⧉, or a Unicode arrow */
    margin-left: 0.25em;
    font-size: 0.9em;
}